<html>
<head>
</head>
<body>
<form action="/process" method="POST">
	<label for="LengthAtCenterline">Centerline</label>
	<input id="LengthAtCenterline" name="LengthAtCenterline" value="50" />
	<input id="NoseAngle" name="NoseAngle" value="96" />
	<br/>
	<input type="submit" >
</form>
</body>
</html>
